<footer class="footer">
        <div class="container-fluid">
            <p class="copyright pull-right">
                <script>document.write(new Date())</script> 
            </p>
        </div>
    </footer>
