<div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Admin
            </a>
        </div>

        <ul class="nav">
            <li>
                <a href="/admin/blog/dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/admin/blog/edit">
                    <i class="pe-7s-user"></i>
                    <p>Post</p>
                </a>
            </li>
            <li>
                <a href="/admin/blog/list">
                    <i class="pe-7s-note2"></i>
                    <p>List Blog</p>
                </a>
            </li>
        </ul>
    </div>