<footer class="footer-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>About Us</h6>
            <p>
              <b>Email: </b>ngohuutoan12032@gmail.com <br>
              <b>Phome: </b>0972322864 <br>
              <b>Address: </b> 101 Phú Đô, Nam Từ Liêm, Hà Nội <br>
              <b>Company: </b> FPT SOFTWARE 
            </p>
          </div>
        </div>
        <div class="col-lg-2  col-md-6 col-sm-6">
          
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Newsletter</h6>
            <p>Để lại email để chúng mình cập nhật những bài viết mới nhất  nhé:</p>
            <div class="" id="mc_embed_signup">

              <form target="_blank" novalidate="true" action=""
                method="post" class="form-inline">

                <div class="d-flex flex-row">

                  <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                    required="" type="email">


                  <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                  <div style="position: absolute; left: -5000px;">
                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                  </div>

                </div>
                
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          
        </div>
      </div>
    </div>
  </footer>